<div class="container-fluid" style="height:100%">
  <div class="row" style="height:100%">
      <div class="col-6 mt-6" style="background:pink;height:100%">
          
          <pre>
            <h2>Join our community</h2>
          Our community is full of experienced and suffering
          guys and gals that come together and help each 
          other out.
        
          You can be one of them and help everyone by sharing 
          your experience.
        
          </pre>
          <button class="btn-info" style="border-radius:5px;" (click)="loginToCommunity()">login</button>
        
        </div>
    <div class="col-6 mt-6" style="height:100%;">
    <pre style="color:white">
      <h2>Test Yourself</h2>
      Enter your details and find out from our machine 
      learning algorithm,about your status to get screwed.

      The algoritm is new and is still in learning phase,
      results might not be accurate.
    </pre>
      <button class="btn-danger" (click)="loginToTest()">Test</button>

    </div>    

  </div>

</div>
